---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Página de inicio";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>¡Bienvenido a mi sitio web!</h2>
  <p>
    Este es un sitio de ejemplo creado con Astro. Aquí puedes encontrar
    información sobre mí y mi blog donde comparto mis aprendizajes.
  </p>
  <p>¡Gracias por visitar!</p>
</BaseLayout>
